{% extends 'layouts/base.html.twig' %}

{% block title 'new pin' %}

{% block body %}
    <h1>Create</h1>

    {{ include('pins/_form.html.twig', {'submitButtonText': 'Create Pin'}) }}

{% endblock %}
